<!-- Add Nav Bar Command In angular.io components ToolBars -->
<!-- Start Angular Server => ng serve -o -->
<mat-toolbar color="disabled">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span>TMJ Mobile</span>
    
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar-row>
  <button mat-raised-button color="warn">Add New Product</button>
</mat-toolbar-row>
